<div id="posts" class="container d-flex flex-column gap-3">
  <h1 class="text-center display-4">Posts</h1>
  
  <% @posts.each do |post| %>
    <div class="card">
      <div class="card-body">

        <% if post.id.to_s == params[:postIdActionNow] %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <h2 class="card-title"><%= post.title %></h2>
        <p class="card-text" style="white-space: pre-wrap;">
          <%= post.content.delete_prefix('"').delete_suffix('"') %>
        </p>

        <p class="text-muted" style="font-size: 0.8em;">
          Criado em: <%= post.created_at.strftime('%d/%m/%Y %H:%M') %>
        </p>
        <button class="btn btn-secondary btn-sm mt-2" onclick="toggleComments('<%= post.id %>')">
          Mostrar Comentários
        </button>
        <div id="postId-<%= post.id %>" class="bg-light p-2 mt-2 d-none">
          <%= render 'comments/dropdown', comments: post.comments_array, post_id: post.id %>
        </div>
        <p class="mt-3">
          <%= link_to "Editar esse post", edit_post_path(post), class: "btn btn-primary btn-sm" %>
        </p>
      </div>
    </div>
  <% end %>

  <div class="mt-4 justify-content-between">
    <% prev_offset = params[:offset].to_i - (params[:limit] || 3).to_i %>
    <% next_offset = params[:offset].to_i + (params[:limit] || 3).to_i %>

    <% if @current_user %>
      <div class="mb-4">
        <%= link_to "Criar Novo Post", new_post_path, class: "btn btn-success btn-lg" %>
      </div>
    <% end %>

    <% if params[:offset].to_i > 0 %>
      <%= link_to "Anterior", posts_path(limit: params[:limit], offset: prev_offset), class: "btn btn-outline-primary" %>
    <% end %>

   <% if next_offset < (@posts.first&.total_posts || 0) %>
      <%= link_to "Próximo", posts_path(limit: params[:limit], offset: next_offset), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>

<script>
  function toggleComments(postId) {
    const commentsDiv = document.getElementById(`postId-${postId}`);
    commentsDiv.classList.toggle('d-none');
  }
</script>
